
body {
  background-color: #f4f4f4; 
}

.App {
  text-align: center;
  padding: 20px; 
}

.content {
  color: #f111d3; 
}

.container{
  color: white;
}


.d-grid {
  margin-top: 2rem; 
}

.d-grid {
  margin-top: 2rem; 
}

